.ad-block{
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 80px;
    width: 100%;
}
.regular-bold >span{
    color: #f14a58;
}
.regular-bold , .regular-bold>span{
    font-family: 'OpenSans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.72px;
    text-align: center;
}

.container_catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_catalog>.item{
    width: 21%;
    padding-bottom: 70px;
}

.item-name:hover ~ .item-price::after{
    color: #f14a58 ;
    content: 'View item';
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    left: 29%;
    top: -590%;
}

.btn-fix{
    border: solid 1px #e5e5e5;
    cursor: pointer;
    width: 340px;
    font-family: 'OpenSans',sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
}
.btn-fix:hover{
    border-color: #f14a58;
    color: #f14a58;
}

/* Promo block (“Last weekend extra 50% off...”) should be displayed after four items for desktop, 3 items for tablet and 2 items on mobile. T */
.ad-block{
    order: 0;
}
.container_catalog>.item:nth-child(2),.container_catalog>.item:nth-child(3),.container_catalog>.item:nth-child(4),.container_catalog>.item:nth-child(5){
    order: -1;
}


/* filters */
.filter{

}

/* Add a black background color to the top navigation */
.filter {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .filter li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .filter ul{
    width: 16.5%;
  }
  @media (min-width:1181px){
    .filter ul{
        width: 189px;
      } 
}
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  /* .filter .icon {
    display: none;
  } */
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
    width: 16.5%;
    border: 1px solid #e5e5e5;
  }
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    /* font-size: 17px;  */
    border: none;
    outline: none;
    color: black;
    padding: 14px;
    padding-left: 19px ;
    background-color: inherit;
    /* font-family: inherit; */
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 5.42; */
    letter-spacing: 0.36px;
    /* text-align: left; */
    /* color: #f14a58; */
  }
  .dropbtn{
    width: 100%;
    text-align: start;
    position: relative;
  }
  .fa-caret-down{
    position: absolute;
    right: 5px;
    top:40%;
    font-size: 10px;
}
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content li {
    cursor: pointer;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    font-family: 'OpenSans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.36px;
    color: #000000;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .filter li:hover, .dropdown:hover .dropbtn {
    /* background-color: #555;
    color: white; */
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content li:hover {
    background-color: #ddd;
    color: #f14a58;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }



    /* mobile layout */
@media (max-width: 767px){
    .container_catalog>.item{
        width: 40%;
        padding-bottom: 40px;
    }
    .regular-bold , .regular-bold>span, .bestoffer-text-italic{
        font-size: 3vw;
    }
    .btn-fix{
       width: 50%;
    }
    .container_catalog>.item:nth-child(4),  .container_catalog>.item:nth-child(5){
        order: 1;
    }
}
/* table layout */
@media (min-width: 768px) and (max-width: 1024px){
    .container_catalog>.item{
        width: 28%;
    }
    .btn-fix{
        width:256px ;
    }
    .container_catalog>.item:nth-child(5){
        order: 1;
    }
}