@font-face{
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'OpenSans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
a{
    color: #000;
}
a:hover{
    color: #f14a58;
}
.longline{
    max-width: 1180px;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (min-width: 1301px) {
    .longline::after{
        content: '';
        width: 60px;
        height: 1px;
        background: linear-gradient(to right, #e5e5e5, white);
        position: absolute;
        right: -60px;
        top:-1px
    }
    .longline::before{
        position: absolute;
        content: '';
        width: 60px;
        height: 1px;
        /* border-top: 1px solid black; */
        left: -60px;
        top:-1px;
        background: linear-gradient(to left, #e5e5e5, white);
    }
}

/* footer */
.footer{
    /* padding-top: 45px; */
}
.ft_list-wrap{
    padding-top: 45px; 
}
.ft_row{
    width: 100%;
    display: flex;
}
.ft_list-wrap{
    /* width: 50%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ft_top-left, .ft_top-right{
    width: 50%;
}
.ft_top-right{
    justify-content: flex-start;
    padding-left: 30px;
}
.ft_list-wrap:first-child{
    border-right: 1px solid #e5e5e5;
   
}
.ft-col{

}
.ft-category_name, .ft-menu{
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.42px;
    color: #000000;
}
.ft-menu{
    padding-top: 20px;
    /* font-family: 'Roboto';*/
    font-size: 0.9em; 
    font-weight: normal;
    /* font-style: normal; */
    line-height: 2.5;
    /* letter-spacing: 0.42px;
    color: #000000; */
}
.ft-menu>li>a:hover , .ft-menu>a:hover{
    color: #000000;
    text-decoration: underline;
}
.fa-twitter{
    color: #d7d7d7;
}
.ft-menu-fix{
    padding-top: 3px;
}
.ft-menu>a>span{
    font-weight: bold;
}
.ft-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: -30px; */
}
.ft-container>.ft-col:last-child{
    padding-right: 100px;
}
.ft-italicText{
    max-width: 305px;
    padding-right: 5px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #757575;
}
.ft-socialMedia{
   width: 100%;
}
.ft-socialMedia>a{
    margin-right: 25px;
}
.fa-facebook-f{
    color: #315295;
}
.bluetwit{
    color: #4bb8f0;
}

.ft_bottom{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.36px;
    color: #000000;
    padding-bottom: 30px;
    padding-top: 30px;
}
.ft-share{
    display: flex;
}
.ft-share_number{
    background-color: #f4f4f4;
    padding: 0px 6px;
    margin-left: 8px;
    font-size: 12px;
    position: relative;
}
.ft-share_number::after {
    content: ''; 
    position: absolute; 
    left:  -13px; 
    top: 2px;
    border: 5px solid transparent; 
    border-right: 10px solid #f4f4f4; 
   }

.ft_bottom-1_3>ul{
    display: flex;
}
.ft_bottom-1_3>ul>li{
    padding-right: 10px;
    padding-left: 10px;
}
.ft_bottom-1_3>ul>li>a:hover {
    color: #000000;
    text-decoration: underline;
}
.ft-onlymob{
    display: none;
}
/* mobile layout */
@media (max-width: 767px){
    .ft-onlymob>a{
        margin-right: 25px;
        font-size: 16px;
    }
    .ft_row, .ft-onlymob{
        display: block;
    }
    .ft-italicText{
        display: none;
    }
    .ft_top-left{
        width: 100%;
        justify-content: space-between;
        padding-bottom: 35px;
        border-bottom: solid 1px #e5e5e5;
    }
    .ft_top-right{
        width: 100%;
        justify-content: center;
        padding-left: 0px;
    }
    .ft-container{
        justify-content: space-between;
        padding-right: 10px;
        padding-top: 30px;
    }
    .ft-container>.ft-col:last-child{
        padding-right: 0px;
    }
    .ft_list-wrap:first-child{
        border-right: none;
    }
    .ft-category_name{
        font-size: 1em;
    }
    .ft-menu{
        font-size: 0.9em; 
    }
    .ft-socialMedia{
        display: none;
    }
    .ft_row
    {
        /* max-width: 300px; */
        margin-left: auto;
        margin-right: auto;
    }
    .ft-col{
         max-width: 300px; 
         margin-left: auto;
         margin-right: auto;
    }


    .ft_bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .ft_bottom-1_3:first-child{
        /* width: 50%; */
        order:1;

    }
    .ft_bottom-1_3:last-child{
        order:0;
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .order{
        /* width: 25%; */
        order:2;
    }
}

/* table layout */
@media (min-width: 768px) and (max-width: 1024px){
    .inputForTablet{
        display: none;
    }
    .inputForTabletShow{
        display: block;
    }
.ft-italicText{
    display: none;
}
.ft-container{
    flex-direction: column;
}
.ft_list-wrap:first-child{
    border-right: none;
}
.ft-container{
    justify-content: flex-start;
}
.ft-container>.ft-col:last-child {
    padding-right: 0px;
    padding-top: 20px;
}
.ft_top-left{
    width: 66%;
    justify-content: space-around;
}
.ft_top-right{
    width: 33%;
    justify-content: center;
    padding-left: 0px;
}
.ft_top{
    justify-content: space-between;
}

}

/* Header */
.body-wrap{
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.main-header{
    font-family: 'OpenSans', sans-serif;
    color: #000000;
    padding-bottom: 23px;
    padding-top: 30px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66%;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
   
    letter-spacing: 0.36px;
    
    
    color: #000000;
}
.logo span{
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.17; */
    letter-spacing: 0.9px;
}
.onlyPhone{
    display: none;
}
.header-top-right{
    display: flex;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.36px;
}
.signup{
    padding-right: 56px;
}
.fa-shopping-bag{
    padding-right: 15px;
}
.menu{
    max-width: 950px;
    width: 100%;
}
.menu>ul{
    display: flex;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.39px;
    max-width: 950px;
    width: 100%;
    justify-content: space-between;
}
.menu>ul>li{
    display: flex;
    /* margin-right: 65px; */
    font-weight: bold;
    display: block;
}
.menu>ul>li:last-child{
    padding-right: 10px;
}
.search{
    max-width: 118px;
    display: inline-flex;
    color: #a9a8a8;
    /* padding-bottom: 7px; */
    border-bottom: 2px solid #e5e5e5;
}
.search>input{
    max-width: 97px;
    border: none;
}
.fa-search{
    color: #a9a8a8;

    /* position: absolute; */
}
.menu-mobile{
    display: none;
}




/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
  }
  .topnav {
    display: none;
  }
  .topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding-top: 14px;
    padding-top: 13px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav>.search>a{
    padding-top: 0px;
    align-self: center;
  }
  
  /* .topnav a:hover {
  
    color: #f14a58;
  } */

/* mobile layout */
@media (max-width: 767px){
    /* .header-bottom{
        display: none;
    } */
    .onlyPhone{
        display: block;
    }
    .noPhone{
        display: none;
    }
    .header-bottom{
        display: none;
    }
    .topnav {
        display: block;
      }
    .ft_list-wrap{
        padding-top: 15px;
    }
    .topnav a , .topnav input{
        display: none;
    }
    .fa-times{
        display: none !important;
    }
    .topnav a:not(:first-child) , .topnav>.search{display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .signup{
        display: none;
    }

    .topnav.responsive {position: relative;}
    .icon{
        color: black;
    }
    .topnav.responsive .icon{
        color: #f14a58;
    }
    .topnav.responsive .fa-times{
        color: #f14a58;
        display: block !important;
    }
    .topnav.responsive .fa-bars{
    
        display: none;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a  {
      float: none;
      display: block;
        text-align: left;
        font-family: 'OpenSans', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.72px;
        color: #000000;
    }
    .topnav.responsive .search  {
        margin-top: 7px;
        float: none;
        display: inline-flex;
      
    
      }
      /* .topnav.responsive .search  {
        float: none;
        display: block;
       
      } */
    .topnav input{
        display: block;
    }


}




/* table layout */
@media (min-width: 768) and (max-width: 1024px){
    .search>input{
        display: none;
    }
    .search{
        border: none;
    }
    .fa-search{
    }
}

/* Header end*/
