@font-face{
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'OpenSans';
    font-weight: bold;
    font-style: normal;
    src: url(/fonts/Open_Sans/OpenSans-Bold.ttf);
}
.body-wrap{
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
/* Main */

/* PromoBlock */

    .promoblock{
    max-width: 1300px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    max-height: 384px;
    /* padding-bottom: 1px; */
    /* overflow: hidden; */
    }
    .promoblock img{
      object-fit: cover;
      max-height: 100%;
      overflow: hidden;
    }
    .promoLeft{
        width: 50%;
        border-right: 1px solid #e5e5e5;
        /* background-image: url('../img/promoleft.png'); */
        background-size: cover;
        /* background-repeat: no-repeat; */
    }
    .promoRight{
        width: 50%;
        /* background-image: url('../img/promoright.png'); */
        background-size: cover;
        /* background-repeat: no-repeat; */
    }

    /* mobile layout */
@media (max-width: 767px){
    .promoRight{
        display: none;
    }
    .promoLeft{
        width: 100%;
        border-right: none;
        background-repeat: no-repeat;
        /* background-size: cover; */
        background-position: center top; 
        background-size: auto;
        justify-content: center;
    }

}
/* table layout */
@media screen and (max-width: 1024px){

}
@media screen and (min-width: 1300px){

}

/* PromoBlock end */

/* Best offer */

/* animation of selected item */
.item-img:hover ~ .item-name{
    color: #f14a58;
}
.item-img:hover ~ .item-name::after{
    color: #f14a58 ;
    content: 'View item';
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    top:-250%;
    left: 29%;

}
.item-name:hover ~ .item-price::after{
    color: #f14a58 ;
    content: 'View item';
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    left: 29%;
    top: -577%;
}

.item-img:hover, .item-name:hover{
    cursor: pointer;
    color: #f14a58;
}
.item-img, .item-price{
    position: relative;
}
.item-id{
    display: none;
}
.bestoffer{
    padding-top: 80px;
    padding-bottom: 100px;
    border-bottom: solid 1px #e5e5e5;
}
.category-text-bold{
    font-family: 'OpenSans',sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #000000;
}
.bestoffer-text-italic{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    word-wrap: break-word;
    padding-right: 10px;
    padding-left: 10px;
}
.arrow_Up, .arrow_Down{
    text-align: center;
    color: #f14a58;
    font-size: 1.8em;
}
.arrow_Up>i, .arrow_Down>i{
    cursor: pointer;
}
.bestoffer-tottal{
    position: relative;
}
.bestoffer-tottal-old{
    position: absolute;
    color: #757575;
    top: -37px;
    left: -37px;
    font-size: 0.8em;
    background-image: url(../img/rectangle.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.bestoffer-tottal-old::after{
    background-image: url(img/rectangle.png);
}
.bestoffer-main{
    display: flex;
    /* display: grid; */
    /* grid-template-areas: 
    "item item item item "; */
    position: relative;
    justify-content: space-around;
    padding-top: 65px;
    width: 100%;
}
.item-name{
    padding-top: 45px;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.item-price{
    text-align: center;
    padding-top: 20px;
}
.arrow_Up{
    padding-bottom: 35px;
}
.arrow_Down{
    padding-top: 35px;
}
.symbolPlus , .symbolEqual, .bestoffer-tottal{
    align-self: center;
}
.symbolPlus , .symbolEqual, .bestoffer-tottal{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2em;
}
.btn{
    border: solid 1px #e5e5e5;
    cursor: pointer;
    font-family: 'OpenSans',sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}
.btn:hover{
    border-color: #f14a58;
    color: #f14a58;
}
.btn_AddToBag{
    /* border: solid 1px #e5e5e5; */
    position: absolute;
    right: 0;
    bottom: 105px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 90px;
    padding-left: 90px;
    /* cursor: pointer;
    font-family: 'OpenSans',sans-serif;
    font-weight: bold;
    font-size: 1.3em; */
}
.onlyMob{
    display: none;
}


    /* mobile layout */
    @media (max-width: 767px){
        .onlyMob{
            display: block;
        }
        .btn_AddToBag{
            position: static;
        }
        .item{
            /* width: 48%; */
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
        }
        .item-img{
            display: flex;
           justify-content: center;
   
        }
        .bestoffer-tottal{
            width: 100%;
            text-align: center;
            margin-top: 50px;
            /* position: relative; */
        }
     
        .bestoffer-main{
            flex-wrap: wrap;
        }
        .btn_AddToBag{
            margin-top: 30px;
            width: 90%;
            text-align: center;
        }
        .symbolPlus{
            width: 100%;
            text-align: center;
        }
        .symbolEqual{
            display: none;
        }
        .bestoffer-tottal-old{
            left: 0;
            right: 0;
            top: -30px;
        }
    }
    /* table layout */
    @media (min-width: 768px) and (max-width: 1024px){
        .btn_AddToBag{
            position: static;
        }
        .item{
            /* width: 30%; */
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
        }
        .item-img{
            display: flex;
           justify-content: center;
   
        }
        .bestoffer-tottal{
            /* width: 30%; */
            text-align: center;
        }
        .bestoffer-main{
            flex-wrap: wrap;
        }
        .btn_AddToBag{
            margin-top: 30px;
            padding-left: 120px;
            padding-right: 120px;
        }

        .bestoffer-tottal-old{
            top: -37px;
            left: -15px;
        }
    }
/* Best offer end */

/* New arrivals */
.newArivals{
    padding-top: 90px;
    padding-bottom: 90px;
}

.container{
    padding-top: 90px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.newArrivals_btn_allArrivals{
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 20px;
    padding-right: 20px; */
    position: absolute;
    left: 40%;
    right: 40%;
    text-align: center;
}


 /* mobile layout */
@media (max-width: 767px){
    .nomobile{
        display: none;
    }
    .newArrivals_btn_allArrivals{
        left: 30%;
        right: 30%;
    }
}
/* table layout */
@media (min-width: 768px) and (max-width: 1024px){
    .notable{
        display: none;
    }
}

/* New arrivals end */


.label_new{
    font-family: sans-serif;
    font-size: 13px;
    background-color: #f14a58;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 20px;
    left: 0;
}
/* Main end */